.margin{
    margin: 120px 0 40px 0;   
}

.ItemCart{
    display: flex;
    position: relative;
    margin-right: 15px;
}
.ItemCart1{
    width: 15%;
}

.ItemCart2{
    width: 25%;
}

.ItemCart3{
    width: 10%;
}


.btn-eliminar {
    width: 30px;
    border: none;
}

.numberCart {
    font-family: 'Segoe UI';
    text-align: center;
    margin: auto;
    text-align: center;
    color: rgb(241, 236, 236);
    border-radius: 100%;
    background-color: red;
    position: relative;
    font-size: small;
    font-weight: bold;
    padding: 0px 6px 0px 6px;
    margin-right: 10px;

}

.total {
    text-align: center;
    align-items: flex-end;
    align-content: flex-end;
    color: rgb(51, 51, 50);
    font-size: large;   
    margin-left: auto;
    margin-right: auto;
   
}