.detail{
    margin-top: 50px;
    align-items: center;
    align-content: center;
    gap: 30px;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
}

.detail2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    gap: 40px;
}

.detail3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
}


