.categories{
    
    position:relative;
    display: flexbox;
    padding: 5px;
    align-items: center;
    list-style-type: none;
    background-color: rgb(31, 31, 32);
    color: rgb(250, 87, 58);
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
    width: 20%;
}

.categories1{
    align-items: center;
    text-align: center;
    padding: 10px;
    border: solid 2px rgb(90, 89, 89);
}