.itemCategorias {
    padding: 150px;
    background-color: none;
    font-size: xx-large;
}

.nav2{
    position: relative ;
    margin: 10px;
    float:right;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
    color: black;
    font-family:'Lucida Sans';
    font-weight: 400;
    position:relative;      
   }

   .btnCat{
    font-size: 18px;
    color: rgb(223, 215, 215);
    font-family:'Lucida Sans';
    font-weight: bold;
    background-color: rgb(37, 34, 34);
    border: none;
   }

   .btnCat a:hover{
    color: blue;
   }