.nav1{
    opacity: 95%;
    background-color: rgb(41, 41, 43);
    font-weight: bold;
    font-size: larger;
    font-family:'Lucida Sans';
}
ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav1 li{
    padding: 15px;
    border: solid 1px blanchedalmond;
}

.nav3{
    position: relative ;
    margin: 10px;
    float:right;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
    color: black;
    font-family:'Lucida Sans';
    font-weight: 400;
    position:relative;       
}