.nav1{
    opacity: 95%;
    color: black;
  
    font-weight: bold;
    font-size: larger;
    font-family:'Lucida Sans';
}
ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
    color: rgb(224, 26, 26);
    

}

.nav1 li{
    padding: 15px;
    border: solid 1px blanchedalmond;
}

.nav3{
    position: relative ;
    margin: 10px;
    float:right;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
    color: rgb(14, 13, 13);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    position:relative;       
}