.itemCount{
    display: flex;
    justify-content: center;
    padding-right: 5%;
    align-items: center;
    list-style-type: none;
    color: rgb(41, 43, 42);
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    
}

p{
    padding: 10px;
}